<h1>Diff Between</h1>

<h2>{{d1.id}} - {{d1.created_at}}</h2>
<h2>{{d2.id}} - {{d2.created_at}}</h2>


{% if gained %}
<div style="float: left;">
	<div>Gained: ({{gained|length}})</div>
	{% for friend in gained %}
	<div>
		<a href="/friend/{{friend.id}}">{{friend}}</a>
	</div>
	{% endfor %}
</div>
{% endif %}

{% if lost %}
<div style="float: left;">
	<div>Lost: ({{lost|length}})</div>
	{% for friend in lost %}
	<div>
	<a href="/friend/{{friend.id}}">{{friend}}</a>
	</div>
	{% endfor %}
</div>
{% endif %}

