<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Friends</title>
  </head>
  <body>
	
	<div>
		<img src="http://graph.facebook.com/{{friend.fbid}}/picture" />
		Friend: {{friend}}
	</div>
	
	<div>id: {{friend.id}}</div>
	<div>fbid: {{friend.fbid}}</div>
	<div>active: {{friend.active}}</div>

  </body>
</html>
